html, body {
    color: white !important;
    /* background-image: url(../images/question-mark.jpg); */
    background-color: white;
    background-size: 100%;
    /* background-repeat:no-repeat; */
    font-family: Arial, Helvetica, sans-serif !important;
}

h1{
    font-family: 'Courier New', Courier, monospace !important;
    color: #000000 !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    float: left;
    /* margin-bottom: 0px; */
}

h3{
    font-family: monospace !important;
    font-style: oblique !important;
    color: white;
    font-size: 30px;
}

img{
    text-align:center;
}

.header{
    margin-top: 5%;
    text-align: center;
    background-color: transparent;
}

.container{
    float: left !important;
    text-align: center;
    width: 40% !important;
    color: white;
    background-color: black;
    margin-right: 30% !important;
    margin-left: 30% !important;
    margin-top: 1% !important;
    opacity: 0.75;
    padding: 15px;
}

#counter{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
